<div
    style="background-image: url('https://skjoldungar.is/wp-content/uploads/2020/02/Kindur300px.jpg');"
    class="bg-cover bg-center"
>
    <div class="flex h-[26rem] items-center bg-black/[55%]">
        <div class="container">
            <h1 class="text-2xl font-bold uppercase text-white md:text-3xl">
                {{errname}}
            </h1>
            <p class="mt-4 font-medium text-gray-100 md:text-lg">
                {{errdescr}}
            </p>
        </div>
    </div>
</div>